@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-container {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

input {
   width: 100%;
            padding: 5px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
}

input:focus {
    border-color: #ffffff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

p#error-message {
    color: #ff0000;
    text-align: center;
}
